
@{
    ViewBag.Title = "Index";
}


<!-- about -->
<section class="about py-5">
    <div class="container py-md-5">
        <div class="about-w3ls-info text-center mx-auto">
            <h3 class="tittle-wthree pt-md-5 pt-3">About Us</h3>
            <p class="sub-tittle mt-3 mb-sm-5 mb-4">
                Books give a soul to the universe, wings to the mind, flight to the imagination, and life to everything. - Plato

                For children, books are the gateway to a magical world of fairies, dragons, unicorns and faraway kingdoms. At the same time, good books are the storehouses of knowledge and wisdom that leave a lasting impact on a child’s impressionable mind.
            </p>

        </div>
    </div>
</section>
<!-- //about -->
<!-- /features -->
<div class="welcome py-5" id="features">
    <div class="container py-xl-5 py-lg-3">
        <div class="row">
            <div class="col-lg-5 welcome-left">
                <p>What We Provide</p>
                <h3 class="tittle-wthree mt-2 mb-3">
                    We Rank the Best
                    Book Store
                </h3>

                <p class="mt-4 pr-lg-5">Buy Books India is a repository of children’s books - Fiction, Non-Fiction, Literature, Classics, Academic and Competitive Exam books, which range from from Indian and international authors. It’s an online portal where your search for every book ends..</p>
            </div>
            <div class="col-lg-7 welcome-right text-center mt-lg-0 mt-5">
                <div class="row">

                    <div class="col-sm-4 service-1-w3ls serve-gd2">
                        <div class="serve-grid mt-4">
                            <span class="fa fa-language s2"></span>
                            <p class="mt-2">Study Aid</p>
                        </div>
                        <div class="serve-grid mt-4">
                            <span class="fa fa-tachometer s3"></span>
                            <p class="mt-2">Colouring Books </p>
                        </div>
                    </div>
                    <div class="col-sm-4 service-1-w3ls serve-gd3">
                        <div class="serve-grid mt-4">
                            <span class="fa fa-handshake-o s4"></span>
                            <p class="mt-2">Activity Books</p>
                        </div>
                        <div class="serve-grid mt-4">
                            <span class="fa fa-address-card-o s5"></span>
                            <p class="text-li mt-2">Picture Books </p>
                        </div>
                        <div class="serve-grid mt-4">
                            <span class="fa fa-paint-brush s6"></span>
                            <p class="mt-2">Design </p>
                        </div>
                    </div>
                    <div class="col-sm-4 service-1-w3ls serve-gd2">
                        <div class="serve-grid mt-4">
                            <span class="fa fa-podcast s1"></span>
                            <p class="mt-2">Poems </p>
                        </div>
                        <div class="serve-grid mt-4">
                            <span class="fa fa-book s7"></span>
                            <p class="mt-2">Literature</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //features -->
<!-- services -->
<section class="services text-center py-5" id="services">
    <div class="container py-md-5">
        <h3 class="tittle-wthree text-center">Our Best Sellers</h3>
        <p class="sub-tittle text-center mt-4 mb-sm-5 mb-4"></p>
        <div class="row ser-sec-1">
            <div class="col-md-4 ser-w3pvt-gd-wthree">
                <div class="icon">
                    <span class="fa fa-lightbulb-o s1"></span>
                </div>
                <!-- Icon ends here -->
                <div class="service-content">
                    <h5> New Classes</h5>
                    <p class="serp">
                       auto genrated text wil be here
                    </p>
                </div>
            </div>
            <div class="col-md-4 ser-w3pvt-gd-wthree">
                <div class="icon">
                    <span class="fa fa-user s4"></span>
                </div>
                <!-- Icon ends here -->
                <div class="service-content">
                    <h5>Expert Mentors</h5>
                    <p class="serp">
                        Quisque sagittis lacus eu lorem sodalesd enean adipiscing.
                    </p>
                </div>
            </div>
            <div class="col-md-4 ser-w3pvt-gd-wthree">
                <div class="icon">
                    <span class="fa fa-question-circle s3"></span>
                </div>
                <!-- .Icon ends here -->
                <div class="service-content">
                    <h5>Live Support</h5>
                    <p class="serp">
                        Quisque sagittis lacus eu lorem sodalesd enean adipiscing.
                    </p>
                </div>
            </div>
        </div>
        <div class="row ser-sec-1">
            <div class="col-md-4 ser-w3pvt-gd-wthree">
                <div class="icon">
                    <span class="fa fa-gift s6"></span>
                </div>
                <!-- Icon ends here -->
                <div class="service-content">
                    <h5>Lifetime Access</h5>
                    <p class="serp">
                        Quisque sagittis lacus eu lorem sodalesd enean adipiscing.
                    </p>
                </div>
            </div>
            <div class="col-md-4 ser-w3pvt-gd-wthree">
                <div class="icon">
                    <span class="fa fa-angellist s5"></span>
                </div>
                <!-- Icon ends here -->
                <div class="service-content">
                    <h5>Membership</h5>
                    <p class="serp">
                        auto genrated text wil be here
                    </p>
                </div>
            </div>
            <div class="col-md-4 ser-w3pvt-gd-wthree">
                <div class="icon">
                    <span class="fa fa-folder-open-o s6"></span>
                </div>
                <!-- .Icon ends here -->
                <div class="service-content">
                    <h5>25000+ Courses</h5>
                    <p class="serp">
                        auto genrated text wil be here
                    </p>
                </div>
            </div>
        </div>
        <div class="row ser-sec-1">
            <div class="col-md-4 ser-w3pvt-gd-wthree border-bottom-0 bottom-vj-gds">
                <div class="icon">
                    <span class="fa fa-black-tie s3"></span>
                </div>
                <!-- Icon ends here -->
                <div class="service-content">
                    <h5>Law & Ethic</h5>
                    <p class="serp">
                        auto genrated text wil be here
                    </p>
                </div>
            </div>
            <div class="col-md-4 ser-w3pvt-gd-wthree border-bottom-0 bottom-vj-gds">
                <div class="icon">
                    <span class="fa fa-music s2"></span>
                </div>
                <!-- Icon ends here -->
                <div class="service-content">
                    <h5>Art and Music</h5>
                    <p class="serp">
                        auto genrated text wil be here
                    </p>
                </div>
            </div>
            <div class="col-md-4 ser-w3pvt-gd-wthree border-bottom-0">
                <div class="icon">
                    <span class="fa fa-bar-chart s7"></span>
                </div>
                <!-- .Icon ends here -->
                <div class="service-content">
                    <h5>Data Scientist</h5>
                    <p class="serp">
                        auto genrated text wil be here
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //services -->
<!--/mid-content-->
