
@{
    ViewBag.Title = "About";
}




<!-- about -->
<section class="about py-5">
    <div class="container py-md-5">
        <div class="about-w3ls-info text-center mx-auto">
            <h3 class="tittle-wthree pt-md-5 pt-3">About Us</h3>
            <p class="sub-tittle mt-3 mb-sm-5 mb-4">
                Books give a soul to the universe, wings to the mind, flight to the imagination, and life to everything. - Plato

                For children, books are the gateway to a magical world of fairies, dragons, unicorns and faraway kingdoms. At the same time, good books are the storehouses of knowledge and wisdom that leave a lasting impact on a child’s impressionable mind.
            </p>

        </div>
    </div>
</section>
<!-- //about -->
<!-- /features -->
<div class="welcome py-5" id="features">
    <div class="container py-xl-5 py-lg-3">

    </div>
</div>
    </div>
<!-- //features -->
