
@{
    ViewBag.Title = "Contact";
}

<!-- about -->
<section class="about py-5">
    <div class="container py-md-5">
        <h3 class="tittle-wthree text-center">Contact Us</h3>
        <p class="sub-tittle text-center mt-4 mb-sm-5 mb-4">We usually answer to all emails within one working day. Besides, for any questions or Order related concerns you may call us at +64 35 558 58 55 between 10:00 AM to 5:00PM, Monday through Saturday.</p>
        <div class="row">

            <div class="col-lg-6 contact-info-left">
                <ul class="list-unstyled w3ls-items">
                    <li>
                        <div class="row mt-5">
                            <div class="col-3">
                                <div class="con-icon">
                                    <span class="fa fa-home"></span>
                                </div>
                            </div>
                            <div class="col-9">
                                <h6>Address</h6>
                                <p>
                                    Books World
                                    <br>SR Ecommerce Factory Pvt.Ltd
                                    <br>Papatoe,NZ
                                </p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="row mt-5">
                            <div class="col-3">
                                <div class="con-icon">
                                    <span class="fa fa-envelope"></span>
                                </div>
                            </div>
                            <div class="col-9">
                                <h6>Email</h6>
                                <a href="mailto:info@example.com">admin@booksworld.com</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row mt-5">
                            <div class="col-3">
                                <div class="con-icon">
                                    <span class="fa fa-phone"></span>
                                </div>
                            </div>
                            <div class="col-9">
                                <h6>Phone</h6>
                                <p>+64 35 558 58 55</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 contact-right-wthree-info login">
                <h5 class="text-center mb-4"></h5>
                <form action="feed" method="post">
                    <div class="form-group mt-4">
                        <label>Name</label>
                        <input id="txtName" type="text" name="txtName" class="form-control" placeholder="" required="" />

                    </div>
                    <div class="form-group mt-4">
                        <label>Eamil</label>
                        <input id="txtEmail" type="email" name="txtEmail" class="form-control" placeholder="" required="" />
                    </div>

                    <div class="form-group mt-4">
                        <label class="mb-2">Contact</label>
                        <input id="txtContact" type="text" name="txtContact" class="form-control" placeholder="" required="" />
                    </div>
                    <div class="form-group mt-4">
                        <label class="mb-2">Message</label>
                        <textarea id="txtMsg" name="txtMsg" class="form-control" placeholder="" required=""></textarea>
                    </div>
                    <input id="btnSubmit" class="btn btn-primary submit mb-4" type="submit" value="Send Query " />
                    

                </form>

            </div>
        </div>

        <div class="map-wthree mt-5 p-2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25275416.695431937!2d157.30049420428836!3d-39.34767545108816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d2c200e17779687%3A0xb1d618e2756a4733!2sNew%20Zealand!5e0!3m2!1sen!2sin!4v1573725669458!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

        </div>
    </div>
</section>
<!-- //about -->
